.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

.notesList-margin-bottom-20 {
  margin-bottom: 20px;
}
